.App {
  text-align: center;
}
.fix-table{
  margin-top: 20px;
  margin-left: 378px;
  height: 333px;
  width:600px;
  border:1px solid black;
  border-radius:9px;
}
.fit-image{
  margin-top:25px;
  margin-left:365px;
  width:800px;
}
.set{
  float:left;
  width:auto;
  padding:1px;
}
img{
  height:150px;
  width:150px;
  padding-left:44px;
}
button{
  background-color:rgb(2, 91, 91);
  height: 30px;
  width: 562px;
  color:white;
  border-radius:5px;
  margin-top:20px;
  cursor : pointer;
}
p{
  text-align:left;
  padding-left: 22px;
}
input{
  height: 27px;
  width: 553px;
  margin-top:1px;
}
